*.venv
* __pycache__

from models.border import Border
from models.maze import Maze
from models.role import Role
from models.cell import Cell
maze = Maze(
    cells=(
        Cell(0, 0, 0, Border.TOP | Border.LEFT),
        Cell(1, 0, 1, Border.TOP | Border.RIGHT),
        Cell(2, 0, 2, Border.LEFT | Border.RIGHT, Role.EXIT),
        Cell(3, 0, 3, Border.TOP | Border.LEFT | Border.RIGHT),
        Cell(4, 1, 0, Border.BOTTOM | Border.LEFT | Border.RIGHT),
        Cell(5, 1, 1, Border.LEFT | Border.RIGHT),
        Cell(6, 1, 2, Border.BOTTOM | Border.LEFT),
        Cell(7, 1, 3, Border.RIGHT),
        Cell(8, 2, 0, Border.TOP | Border.LEFT, Role.ENTRANCE),
        Cell(9, 2, 1, Border.BOTTOM),
        Cell(10, 2, 2, Border.TOP | Border.BOTTOM),
        Cell(11, 2, 3, Border.BOTTOM | Border.RIGHT),
    )
)

from test.border import Border
from test.maze import Maze
from test.role import Role
from test.square import Square
maze = Maze(
    squares=(
        Square(0, 0, 0, Border.TOP | Border.LEFT),
        Square(1, 0, 1, Border.TOP | Border.RIGHT),
        Square(2, 0, 2, Border.LEFT | Border.RIGHT, Role.EXIT),
        Square(3, 0, 3, Border.TOP | Border.LEFT | Border.RIGHT),
        Square(4, 1, 0, Border.BOTTOM | Border.LEFT | Border.RIGHT),
        Square(5, 1, 1, Border.LEFT | Border.RIGHT),
        Square(6, 1, 2, Border.BOTTOM | Border.LEFT),
        Square(7, 1, 3, Border.RIGHT),
        Square(8, 2, 0, Border.TOP | Border.LEFT, Role.ENTRANCE),
        Square(9, 2, 1, Border.BOTTOM),
        Square(10, 2, 2, Border.TOP | Border.BOTTOM),
        Square(11, 2, 3, Border.BOTTOM | Border.RIGHT),
    )
)
