{% load static %}
{% load sass_tags %}


<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'home/head.html' %}
        <link rel= "stylesheet" type = "text/css" href = "{% sass_src 'sass/__blog__.sass' %}" media = "screen">

    </head>

    <body>
        {% load mdextra %}
        <div id="curve">
            {% include 'home/header.html' %}
            

        
                <main>
                    <article>

                    {% for post in blogPost %}
                    
                    <section>
                        
                            <h2>
                                    {{ post.title }}                            
                                </a> 

                            </h2>

                            <p class = 'sku'>

                                {{ post.body | markdown | safe }}
                                

                            </p>

                            <footer>

                                <nav>

                                    <a href = '{{ post.readmelink }}'>
                                        <button class="bbtn">
                                            <img src = "{% static 'img/svg/information-svgrepo-com.svg' %}" alt = 'read-me' style = 'inline-size:23px; margin-inline:1px;'/>
                                                        Read-me
                                        </button>
                                    </a>

                                    <a href = '{{ post.botlink }}'>

                                        <button class="bbtn">

                                            <img src = "{% static 'img/svg/logo/discord-communication-interaction-message-network-svgrepo-com.svg' %}" alt = 'Discord logo' style = 'inline-size:23px; margin-inline:1px;'>
                                            <b>{{ post.title }}</b>

                                        </button>
                                        <br />
                                                    
                                    </a>

                                </nav>

                                <label> Published by </label><cite> {{ post.author }},</cite><i>
                                <time date='{{ post.created.date }}' title = 'Published {{post.created}}'>{{ post.created.date }}</time></i> | 

                                categories: <a href=" {% url 'blogIndex' %}"><div class = 'btn-center'><small><button class = "btag"><img src = "{% static 'img/svg/tags-svgrepo-com.svg' %}" alt = 'read-me' style = 'inline-size:23px; margin-inline:1px;' />#{{ tag }}</button></small></div></a>

                            </footer>
                        </section>

                    {% endfor %}
                    </article>


                    </main>

            </div>

	</body>
</html>