{% extends "layout.html" %}
{% block title %}
    Portefolio
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <label class='txt-milgre'>Stock abbrivation</label>
            <input name="symbol" type="text" autocomplete="off" class="form-control mi-auto w-auto"  placeholder="Symbol">
        </div>
        <button class="btn btn-primary" type="submit">Quote Stock</button>
    </form>
    {% if stocks %}
        <table>
            <tbody>
                <tr class='txt-sunsha'>
                    <th> Stock Abbrivation</th>
                    <th> Quanity </th>
                    <th> Price </th>
                    <th> Total </th>
                </tr>
                {% for stock in stocks %}
                    <tr class='txt-yellime'>
                        <td> {{ stock['abbrivation'] }}</td>
                        <td> {{ stock['qty'] }}</td>
                        <td> {{ stock['price'] | usd }}</td>
                        <td> {{ stock['total'] | usd }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <h3> No Records to show</h3>
                {% endif %}
            </tbody>
        </table>
    {% if history %}
        <h2> Trading History </h2>
        <table>
            <tbody>
                <tr class='txt-sunsha'>
                <th>Status</th>
                <th>Quanity</th>
                <th>Stock abbrivation</th>
                <th>Price</th>
                <th>Date</th>
                {% for stock in history %}
                    <tr class='txt-yellime'>
                        {% if stock['status'] == 'BOUGHT' %}
                            <td class='green'>{{ stock['status'] }}</td>
                        {% else %}
                            <td class='red'>{{ stock['status'] }}</td>
                        {% endif %}
                        <td>{{ stock['qty'] }}</td>
                        <td>{{ stock['abbrivation'] }}</td>
                        <td>{{ stock['price'] | usd}}</td>
                        <td>{{ stock['time_stamp'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3> No Recorded History to show </h3>
    {% endif %}
    <div>
        A default Graph of current stock
    </div>
{% endblock %}
