{% extends "layout.html" %}
{% block title %}
    Quote
{% endblock %}

{% block main %}
        {% if not symbol %}
        <form action="/quote" method="post">
            <div class="mb-3">
                <label>Stock abbrivation</label>
                <input name="symbol"  type="text" autocomplete="off" autofocus class="form-control mx-auto w-auto"  placeholder="Symbol">
            </div>
            <button class="btn btn-primary" type="submit">Quote Stock</button>
        </form>
        {% else %}
        <p>The price for <b>{{ symbol }}</b> is <b>{{ price | usd }}</b></p>
        {% endif %}

{% endblock %}
