{% extends "layout.html" %}
{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
        <form action="/sell" method="post">
            <div class="mb-3">
                <select class="form-control mi-auto pi-s w-auto" name="symbol">
                    {% for option in options %}
                        <option value = "{{ option['abbrivation'] }}">{{ option['abbrivation'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control mi-auto w-auto" name="shares" placeholder="Quanity" type="number">
            </div>
            <button class="btn btn-primary" type="submit">Sell stock</button>
        </form>
{% endblock %}
