@fontface {
  font-family: "pricedown";
  url: "../../lib/font/pricedown bl.ttf" format(ttf);
}

header {
  block-size: 3em;
  inline-size: 100%;
  position: relative;
  margin-inline-end: 1em #FFFFFFFF;
  text-decoration: none;
  color: #b38a6d;
}

header h1 {
  top: .6em;
  font-size: 2em;
  font-family: "pricedown";
}

header nav {
  top: -4.5em;
  left: 12em;
  position: relative;
  display: inline-block;
}

header nav ul li {
  inline-size: 5em;
  display: inline-block;
}

main article nav {
  column-count: 2;
  column: 3.125em 2;
}

main article nav ul button li {
  font-size: 0.925em;
  list-style-type: none;
}
