/*					Iphone 5/SE 				*/
section {

  inline-size: 100%;
  margin: 10px auto;
  display: inline-block;

}

article {

  margin: 10px auto;
  display: inline-block;
  max-inline-size: 100%;
}


.card {

  padding: 16px;
  transition: 0.3s;
  border-radius: 5px;
  max-inline-size: 168px;
  margin-inline-end: 10px;
  background-color: transparent;
  box-shadow: 0px 4px 26px 5px rgba(0,0,0,0.5);
}
.card::hover {
  background-color: #fefefe
}
/* Add rounded corners to the top left and the top right corner of the image */
div.star {
  inline-size: 27%;
  float: left;
}

.container{
  text-align: center;
  display: inline-block;
}