{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title> krigjo25</title>
		<meta description="krigjo25|Home" />
		<meta name="maintainer" content="@krigjo25">
		<meta name="edited" content="@krigjo25" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="python, django, cv">
		<meta http-equiv="content-security-policy|content-type|defult-style|refresh">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" type = "text/css" href = "{% sass_src 'sass/__krigjo25Index__.sass' %}" media="screen" />
		<link rel= "stylesheet" type = "text/css" href = "{% sass_src 'sass/krigjo25Accordion.sass' %}" media = "screen">
		<script src="https://kit.fontawesome.com/70de652578.js" crossorigin="anonymous"></script>
		{% now 'Y-m-d' as dateToday %}
			{% if dateToday == someday|date:"y-12-31" %}
				<link rel= "stylesheet" type = "text/css" href = "{% sass_src 'sass/krigjo25fireworks.sass' %}" media = "screen">
	
			{% elif dateToday == someday|date:"y-02-14" %}
			{% elif dateToday == someday|date:"y-02-25" %}
			{% elif dateToday > someday|date:"y-04-01" %}
	
			{% else %}
				<link rel="stylesheet" type = "text/css" href = "{% sass_src 'template/firefly/firefly.sass' %}" media="screen" />
	
				{% endif %}

	</head>