				<article>
					<h3> The Procsess</h3>

					<p>
						One The interview

						what is needed?, 
						what can be done?

					</p>

					<p>
						Two The brainStrom

						Brainstorm some ideas, create some prototypes, for the lefty and the righty


					</p>

					<p>
						Three the Plan 

						Research and collecting information about the unmanifested. and execute the plan

						meditation break

					</p>

					<p>
						four, Manifistation

						Experimental design available,
						can it be done in a better way?
						is there something missing?

					</p>

					<p>

						five Deliver
						Happy costumer, happy designer

					</p>
					</article>

